* {
    font-family: 'Inter', sans-serif;
}
.bat-dropdown{
    outline-style: solid;
    outline-width: 1px;
    border-radius: 5px;
    height: 32px;
    outline-color: gainsboro;
}
.subdiv-bat-dropdown{
   
}
.maindiv-bat-dropdown{
    
}